* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  /* padding não aumenta o tamanho total */
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #172a45;
    line-height: 1.6; /* espaçamento entre linhas */
}

/* ============ CABEÇALHO ============ */

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    background-color: #f0f0f0;
    color: #172a45;
    padding: 24px;
}
#hero-image {
    width: 100%;
    height: auto;
    max-height: 400px; /* Limita a altura máxima da imagem */
    object-fit: cover; /* Garante que a imagem preencha o espaço sem distorção */
    border-radius: 25px; /* Adiciona cantos arredondados à imagem */
    padding:  20px;
}

/* Links da navegação */
nav {

    display: flex;
    justify-content: space-evenly;
    gap: 24px; 
    flex-wrap: wrap;
}

nav a {

    color: #172a45;

    text-decoration: none;   /* remove o sublinhado */

    font-weight: bold;

}

nav a:hover {

    color: #ff8904;          /* muda para laranja ao passar o mouse */

}

main {
    display: flex;
    flex-direction: column;

}

#inicio {

    display: flex;

    flex-direction: column;

    align-items: center;

    justify-content: center;

    padding: 40px 20px;

    background-color: #f0f0f0;

}

#categorias {

    display: flex;

    flex-wrap: wrap;        /* permite que os artigos quebrem para a próxima linha */

    gap: 20px;              /* espaço entre os artigos */

    justify-content: center; /* centraliza os artigos horizontalmente */

    padding: 20px;

}

#categorias article {

    flex: 1;              /* divide o espaço igualmente */

    min-width: 250px;     /* não encolhe além disso */

    max-width: 320px; /* não cresce além disso */

    background-color: white;

    border-radius: 8px;

    padding: 20px;

    box-shadow: 0 2px 8px rgba(0,0,0,0.1); /* sombra sutil */

    text-align: center;

    flex-wrap: wrap;

}


/* Estilo para a seção de depoimentos */
#depoimentos {
    background-color: #f9f9f9; /* Fundo suave para destacar a seção */
    padding: 40px 20px;
    text-align: center;
    border-radius: 8px;
    margin: 20px auto;
    max-width: 800px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#depoimentos h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

#depoimentos article {
    margin-top: 20px;
    font-style: italic;
    color: #555;
}

#depoimentos blockquote {
    font-size: 1.2rem;
    line-height: 1.6;
    margin: 0 auto 10px;
    color: #444;
    border-left: 4px solid #007BFF; /* Destaque para o bloco de citação */
    padding-left: 15px;
}

#depoimentos p {
    font-size: 1rem;
    color: #666;
    margin-top: 5px;
}