* {

    margin: 0;

    padding: 0;

    box-sizing: border-box;  /* padding não aumenta o tamanho total */

}

body {

    font-family: Arial, Helvetica, sans-serif;

    background-color: #f4f4f4;

    color: #172a45;
    
    
    color: red;                    /* nome (limitado) */

    color: #ff0000;                /* hexadecimal (o mais usado) */
    
    color: rgb(255, 000, 000);       /* vermelho, verde, azul */
    
    /*color: rgba(255, 137, 4, 0.5); /* com transparência (0 a 1) */
    
    

    line-height: 1.6;

}

/* ============ CABEÇALHO ============ */

header {

    background-color:  grey;

    color: white;

    padding: 20px;

    text-align: center;

}

/* Links da navegação */

nav a {

    color: white;

    text-decoration: none;   /* remove o sublinhado */

    margin: 0 12px;

    font-weight: bold;

}

nav a:hover {

    color: #ff8904;          /* muda para laranja ao passar o mouse */

}

article {

    padding: 20px;

    background-color: white;

    margin: 20px auto;

    max-width: 800px;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}